<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>旅游驿站|旅游驿站手机客户端|旅游驿站手机版|旅游驿站手机客户端下载！</title>
</head>
<!--{template common/header}-->
<link rel="stylesheet" type="text/css" href="../css/index_app.css" />
<span class="Left"><img alt="磨房活动-协助每一颗自由的心实现远行的梦想。" src="../template/travel_linzi/app_img/app_xcz_big.jpg" /></span>
<div class="container">

<link rel="stylesheet" type="text/css" href="../css/down_app.css" />

      <!--主体-->


         <div class="AppBigImg">
            <div class="Left"><a class="Link Link1 Link1_new" title="立即下载" href="./"></a>
               <a href="/." class="Link Link2" title="立即下载"></a>
            </div>
            <div class="Right">
               <a href="app.php" class="Link Link_curr">
               <img alt="" src="/app_img//app_sns_small.png" />
                  <span>驴友社区</span>
               </a>
               <a href="app1.php" class="Link">
               <img alt="" src="/app_img//app_xcz_small.png" />
                    <span>驴友小册子</span>
               </a>
               <a href="app2.php" class="Link last">
               <img alt="" src="/app_img/app_activity_small.png" />
                  <span>旅游活动</span>
               </a>
            </div>
            <div class="clear"></div>
         </div>

         <div class="AppIntro">
            <div class="Left">
               <dl class="Img Img_sns">
                  <dt>驴友驿站社区</dt>
                  <dd>曾经以为行走是寻找答案的手段，后来才发现旅行是找到心灵的方法。曾经以为旅行的记录是写给别人的交待，后来发现，旅途是与内心对话的一种方式。使用驴友驿站社区，靠自己更近。</dd>
               </dl>
            </div>
            <div class="Right">
               <p class="P2">二维码扫描下载</p>
               <p class="P1"><img alt="二维码图片" src="/app_img/app_list_code.gif" /></p>
            </div>
            <div class="clear"></div>
         </div>

         <div class="AppContent">
            <!--定制桌面-->
            <dl class="Desktop">
               <dt>定制桌面</dt>
               <dd>喜欢的论坛，专题，城市，圈子自由添加删除，自由排序。</dd>
            </dl>

            <!--查看帖子-->
            <dl class="Check">
               <dt>查看帖子</dt>
               <dd>手机追贴，不开电脑上驴友驿站，节约手机浏览web流量。</dd>

            </dl>

            <!--分享好友-->
            <dl class="Share">
               <dt>分享好友</dt>
               <dd>看到好的帖子，直接分享到新浪微博，微信。</dd>
            </dl>

            <!--我的收藏-->
            <dl class="Collect">
               <dt>我的收藏</dt>
               <dd>追贴不用再Mark，直接收藏在手机本地，下次可以继续浏览。</dd>
            </dl>
         </div>

</body>
</html>

<!--{template common/footer}-->

</body>
</html>
