<!--{subtemplate common/header}-->
<style type="text/css">
   body{background:url("template/travel_linzi/style/bg.jpg") repeat-x scroll 0 0 #FFFFFF}
</style>
<style id="diy_style" type="text/css"></style>

<div class="wp"> 
    <!--[diy=diy1]-->
    <div id="diy1" class="area"></div>
    <!--[/diy]--> 
</div>

<!-- 首页幻灯区 -->
<div class="layout cl">
    <div class="services"> 
        <!--[diy=services]-->
        <div id="services" class="area"></div>
        <!--[/diy]--> 
    </div>
    <div class="recommend">
        <div class="r_con" id="r_con"> 
            <!--[diy=page_con]-->
            <div id="page_con" class="area"></div>
            <!--[/diy]--> 
        </div>
        <script type="text/javascript">jQuery("#r_con").slide({ titCell:".page ul",mainCell:"#page_con .list_con",effect:"leftLoop",vis:1,scroll:1,autoPlay:true,autoPage:true});</script> 
    </div>
    
</div>
<!-- 首页幻灯区 end --> 

<!-- AD广告 begin 若删除该位置广告 请将此住注释至下部注释 内代码全部删除 -->
<div class="pub_columns">
    <div class="tonglanAd"> 
        <!--[diy=jeavi_ad2]-->
        <div id="jeavi_ad2" class="area"></div>
        <!--[/diy]--> 
    </div>
</div>
<!--AD广告 end--> 

<!-- 社区部分 -->

<div class="f_column">
    <div class="f_main">
        <div class="f_main_l">

            <!--旅游攻略开始 -->
            <div class="gonglue">
                <!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->

            </div>
            <!--旅游攻略结束 -->


            <div class="f_box f_t1">
                <dl class="f_hd">
                    <!--[diy=jeavi_f_t1]-->
                    <div id="jeavi_f_t1" class="area"></div>
                    <!--[/diy]-->
                </dl>
                <div class="f_con">
                    <div class="con_top">
                        <dl>
                            <!--[diy=jeavi_f_t2]-->
                            <div id="jeavi_f_t2" class="area"></div>
                            <!--[/diy]-->

                        </dl>
                        <div class="f_hot"> 
                            <!--[diy=jeavi_f_t3]-->
                            <div id="jeavi_f_t3" class="area"></div>
                            <!--[/diy]--> 
                        </div>
                        <div class="f_newlist"> 
                            <!--[diy=jeavi_f_t4]-->
                            <div id="jeavi_f_t4" class="area"></div>
                            <!--[/diy]--> 

                        </div>
                    </div>
                    <div class="shopshow">
                        <dl class="f_hd_s">
                            <!--[diy=jeavi_f_t5t]-->
                            <div id="jeavi_f_t5t" class="area"></div>
                            <!--[/diy]-->

                        </dl>
                        <div class="showbox"> 
                            <!--[diy=jeavi_f_t5]-->
                            <div id="jeavi_f_t5" class="area"></div>
                            <!--[/diy]-->
                        </div>
                    </div>
                    <script type="text/javascript">jQuery("#showbox").slide({ mainCell:".bd",effect:"leftLoop",vis:1,scroll:1,autoPlay:true});</script> 
                </div>
            </div>
            <div class="f_box f_t2 f_last">
                <dl class="f_hd">
                    <!--[diy=jeavi_f_t6]-->
                    <div id="jeavi_f_t6" class="area"></div>
                    <!--[/diy]-->
                </dl>
                <div class="food_con">
                    <div class="food_con_l"> 
                        <!--[diy=jeavi_f_t7]-->
                        <div id="jeavi_f_t7" class="area"></div>
                        <!--[/diy]--> 

                    </div>
                    <div class="food_con_r">
                        <div class="food_top"> 
                            <!--[diy=jeavi_f_t8]-->
                            <div id="jeavi_f_t8" class="area"></div>
                            <!--[/diy]--> 
                        </div>
                        <div class="food_bt">
                            <dl class="f_hd_s">
                                <!--[diy=jeavi_f_t9]-->
                                <div id="jeavi_f_t9" class="area"></div>
                                <!--[/diy]-->

                            </dl>
                            <div class="food_bt_con"> 

                                <!--[diy=jeavi_f_t10]-->
                                <div id="jeavi_f_t10" class="area"></div>
                                <!--[/diy]--> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f_box f_t3">
                <dl class="f_hd">
                    <!--[diy=jeavi_f_t11]-->
                    <div id="jeavi_f_t11" class="area"></div>
                    <!--[/diy]-->
                </dl>
                <div class="wedding_con">
                    <div class="wedding_con_top"> 
                        <!--[diy=jeavi_f_t13]-->
                        <div id="jeavi_f_t13" class="area"></div>
                        <!--[/diy]--> 
                    </div>
                    <div class="wedding_con_bt"> 
                        <!--[diy=jeavi_f_t12]-->
                        <div id="jeavi_f_t12" class="area"></div>
                        <!--[/diy]--> 
                    </div>
                </div>
            </div>
            <div class="f_box f_t4 f_last">
                <dl class="f_hd">
                    <!--[diy=jeavi_f_t14t]-->
                    <div id="jeavi_f_t14t" class="area"></div>
                    <!--[/diy]-->

                </dl>
                <div class="travel_con">
                    <div class="travrl_top" id="travrl_top"> 
                        <!--[diy=jeavi_f_t14]-->
                        <div id="jeavi_f_t14" class="area"></div>
                        <!--[/diy]--> 
                    </div>
                    <script type="text/javascript">jQuery("#travrl_top").slide({ titCell:".travel_hd ul",mainCell:".bd",effect:"leftLoop",vis:1,scroll:1,autoPlay:true,autoPage:true});</script>
                    <div class="travel_bt"> <i class="travel_ico"></i> 
                        <!--[diy=jeavi_f_t15]-->
                        <div id="jeavi_f_t15" class="area"></div>
                        <!--[/diy]--> 
                    </div>
                </div>
            </div>
            
            <div class="ind_sldline2"></div>

            <!--最新精华开始-->
                        <div id="indbbs">
                         <!--[diy=hot_huiyuan2]-->
                         <div id="hot_huiyuan2" class="area"></div>
                         <!--[/diy]--> 
            </div>
            <!--最新精华结束-->


        </div>
        <div class="f_main_r">
            <div class="citysBox"> 
                <!--[diy=jeavi_8.3]-->
                <div id="jeavi_8.3" class="area"></div>
                <!--[/diy]-->
                <div class="citysTitle hd">
                    <ul>
                        <li><a href="forum.php?mod=guide&view=hot">热议</a></li>
                        <li><a href="forum.php?mod=guide&view=index">关注</a></li>
                        <li><a href="forum.php?mod=guide&view=digest">推荐</a></li>
                        <li><a href="forum.php?mod=guide&view=new">新帖</a></li>
                    </ul>
                </div>
                <div class="citysCons bd" >
                    <ul class="citys_bbs infoList">
                        <!--[diy=j_4]-->
                        <div id="j_4" class="area"></div>
                        <!--[/diy]-->
                    </ul>
                    <ul class="citys_bbs infoList">
                        <!--[diy=j_4.1]-->
                        <div id="j_4.1" class="area"></div>
                        <!--[/diy]-->
                    </ul>
                    <ul class="citys_bbs infoList">
                        <!--[diy=j_4.2]-->
                        <div id="j_4.2" class="area"></div>
                        <!--[/diy]-->
                    </ul>
                    <ul class="citys_bbs infoList">
                        <!--[diy=j_4.3]-->
                        <div id="j_4.3" class="area"></div>
                        <!--[/diy]-->
                    </ul>
                </div>
            </div>
            <script type="text/javascript">jQuery(".citysBox").slide({delayTime:0});</script>
            <div class="citysBox2">
                <div class="rightTop"> 
                    <!--[diy=hot_lianzai]-->
                    <div id="hot_lianzai" class="area"></div>
                    <!--[/diy]--> 
                </div>
                <div class="right_huiyuan">
                    <!--[diy=hot_huiyuan]-->
                    <div id="hot_huiyuan" class="area"></div>
                    <!--[/diy]--> 
                </div>
                
                
                
                
                
            </div>


        </div>
    </div>
</div>

<!-- 社区部分 end --> 

<!-- AD广告 begin 若删除该位置广告 请将此住注释至下部注释 内代码全部删除 -->
<div class="contents">
    <div class="tonglanAd"> 
        <!--[diy=jeavi_ad1]-->
        <div id="jeavi_ad1" class="area"></div>
        <!--[/diy]--> 
    </div>
</div>
<!--AD广告 end--> 

<!-- 图片部分 begin -->
<div class="contents">
    <div class="pub_column mb0">
        <dl class="pub_tits photo">
            <!--[diy=jeavi_10t]-->
            <div id="jeavi_10t" class="area"></div>
            <!--[/diy]-->

        </dl>
        <div class="pub_columnCon">
            <div class="jv_c5">
                <div class="jv_c5_left"> 
                    <!--[diy=jeavi_20]-->
                    <div id="jeavi_20" class="area"></div>
                    <!--[/diy]--> 
                </div>
                <div class="jv_c5_center"> 
                    <!--[diy=jeavi_21]-->
                    <div id="jeavi_21" class="area"></div>
                    <!--[/diy]--> 
                </div>
                <div class="jv_c5_right"> 
                    <!--[diy=jeavi_22]-->
                    <div id="jeavi_22" class="area"></div>
                    <!--[/diy]--> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 图片部分 end --> 
<!--AD广告 begin-->
<div class="tonglanAd"> 
    <!--[diy=jeavi_Fad]-->
    <div id="jeavi_Fad" class="area"></div>
    <!--[/diy]--> 
</div>
<!--AD广告 end--> 

<!-- 社区导航 begin -->
<div class="contents">
    <div class="pub_column b0">
        <dl class="pub_tits forum">
            <!--[diy=jeavi_ft]-->
            <div id="jeavi_ft" class="area"></div>
            <!--[/diy]-->

        </dl>
        <div class="pub_columnCon">
            <div class="seccontent"> 
                <!--[diy=jeavi_fs]-->
                <div id="jeavi_fs" class="area"></div>
                <!--[/diy]--> 

            </div>
        </div>
    </div>
</div>
</div>
<!-- 社区导航 end --> 

<!-- AD广告 begin 若删除该位置广告 请将此住注释至下部注释 内代码全部删除 -->
<div class="contents">
    <div class="tonglanAd"> 
        <!--[diy=jeavi_Lad]-->
        <div id="jeavi_Lad" class="area"></div>
        <!--[/diy]--> 
    </div>
</div>
<!-- AD广告 end--> 

<!-- 友情链接 开始 -->

<div class="linkBox">
    <div class="youlian"> <span class="FriendLink">友情链接</span> </div>
    <div class="textLink"> 
        <!--[diy=jeavi_linkcon]-->
        <div id="jeavi_linkcon" class="area"></div>
        <!--[/diy]--> 
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.full').hover(function(){
            jQuery(".imgtext", this).stop().animate({height:'40px'},{queue:false,duration:200});
        }, function() {
            jQuery(".imgtext", this).stop().animate({height:'20px'},{queue:false,duration:200});
        });
    });
</script>
</div>
<!--{subtemplate common/footer}-->